name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  GITHUB_REPOSITORY_OWNER: hridiklal
  GITHUB_REPOSITORY_NAME: cicd4

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Run tests
      run: mvn test --file pom.xml

    - name: List build artifacts
      run: |
        echo "Generated artifacts:"
        ls -la target/*.jar
        echo "JAR file: target/my-java-app-1.0.0.jar"

    - name: Publish to GitHub Packages
      run: mvn deploy -s settings.xml
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
